@import "variables";

.client-info {
  margin: 66px 0;

  form {
    width: 334px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

.card-input {
  padding: 70px 16px;

  &__container {
    margin: auto;
    width: 100%;
    max-width: 400px;
    padding: 40px;
    border: 1px solid $blue-transparent;
    border-radius: 10px;
  }

  &__fields {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__message {
    margin: 16px 0 32px;
  }

  .card-icons {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 40px;
    svg{
      width: 48px;
      height: auto;
    }
  }

  &__field-row {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 12px;
  }

  &__total {
    display: flex;
    justify-content: center;
    gap: 48px;
    margin: 24px 0 6px;
    font-size: 18px;
    font-weight: 400;
    color: $blue-not-main
  }
}

.order-success {
  padding: 139px 16px 217px;

  &__container {
    width: 100%;
    max-width: 422px;
    height: 365px;
    border-radius: 10px;
    border: 2px solid rgba(4, 179, 21, 0.80);
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    flex-direction: column;
    margin: auto;
    padding: 5px;
  }

  &__message {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    white-space: pre-line;
  }
  @media screen and (max-width: $mobileLayout){
    padding-top: 98px;
    padding-bottom: 148px;
    &__container{
      height: 272px;
    }
    &__message {
      font-size: 14px;
    }
    svg{
      width: 72px;
      height: auto;
    }
  }
}



@media screen and (max-width: 330px) {
  .card-input {
    font-size: 16px;
    &__container{
      padding: 15px;
    }
    &__field-row {
      gap: 7px;
    }

    .card-icons {
      gap: 32px;
      svg{
        width: 32px
      }
    }

  }
}