@import "variables";

header{
  padding: 45px 64px 0;
  z-index: 1;
  width: 100%;
  position: relative;
  nav {
    color: $blue-not-main;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 64px;
      .indicator{
        width: 16px;
        height: 16px;
        position: absolute;
        bottom: 8px;
        left: 0;
        background: $secondary-color;
        border-radius: 50%;
        &__no-display{
          display: none;
        }
      }

      .basket{
        position: relative;
        a{
          display: block;
        }
        svg {
          width: 32px;
          height: 32px;
        }
      }

      .burger-menu{
        display: none;
        div {
          height: 2px;
          width: 32px;
          background: $primary-color;
          border-radius: 1px;
          &:nth-child(2){
            margin: 10px 0;
          }
        }
      }

      @media screen and (max-width: $smallDesktopLayout){
        gap: 32px;
      }

      @media screen and (max-width: $tabletLayout){
        li:not(.basket){
          display: none;
        }

        li.burger-menu{
          display: block;
        }
      }
      @media screen and (max-width: $bigMobileLayout){
        gap: 16px;
        .indicator{
          width: 12px;
          height: 12px;
          bottom: 4px;
        }

        .basket{
          svg {
            width: 24px;
            height: 24px;
          }
        }

        .burger-menu{
          display: none;
          div {
            width: 24px;
            &:nth-child(2){
              margin: 8px 0;
            }
          }
        }
      }
    }
  }
  a:hover{
    opacity: .8;
  }

  @media screen and (max-width: $bigMobileLayout){
    padding: 24px 16px 0;
  }
}

