@import "variables";

header{
  padding: 45px 64px 0;
  z-index: 1;
  width: 100%;
  position: relative;
  nav {
    color: $blue-not-main;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 64px;
      .indicator{
        width: 16px;
        height: 16px;
        position: absolute;
        bottom: 8px;
        left: 0;
        background: $secondary-color;
        border-radius: 50%;
        &__no-display{
          display: none;
        }
      }
    }
  }
  a:hover{
    opacity: .8;
  }
}

