@import 'variables';


.menu-section {

  &__table {
    width: 100%;

    tr {
      td {
        font-weight: 600;
        padding: 0 10px 32px;
        text-align: left;
        vertical-align: top;

        &:first-child {
          width: 354px;
          padding-left: 154px;
        }

        &:nth-child(2) {
          font-weight: 300;
        }

        &:nth-last-child(2) {
          width: 125px;
        }

        &:last-child {
          width: calc(281px + 32px);
        }
      }

      &:first-child td {
        padding-top: 30px;
      }
    }

    .sub-table {
      td {
        &:nth-child(2) {
          font-weight: 500;
        }

        &:nth-child(3) {
          font-weight: 300;
          text-align: right;
        }
      }
    }

    .sub-description {
      font-size: 20px;
      font-weight: 200;
    }
  }

  .add-button {
    width: 32px;
    height: 32px;
    background: $green-color;
    border: 2px solid white;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    &:after, &:before{
      background: #FFFFFF;
      position: absolute;
      content: "";
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    &:before{
      width: 50%;
      height: 3px;
    }
    &:after{
      height: 50%;
      width: 3px;
    }
    &:hover {
      opacity: .8;
    }
  }

  @media screen and (max-width: $smallDesktopLayout)
  {
    h3 {
      width: 80%;
      margin: auto;
    }
  }

  @media screen and (max-width: $tabletLayout) {
    &__table {
      tr {
        td {
          padding: 0 5px 32px;

          &:first-child {
            width: 190px;
            padding-left: 66px;
          }

          &:nth-last-child(2) {
            width: 90px;
          }

          &:last-child {
            width: 166px;
          }
        }
      }
    }
  }

  @media screen and (max-width: $bigMobileLayout) {

    h3 {
      width: auto;
      margin: 0;
      font-size: 18px;
      gap: 10px;
    }

    .add-button {
      width: 24px;
      height: 24px;
      font-size: 27px;
      line-height: 10px;
      border-radius: 5px;
    }

    &__table {
      tr {
        td {
          vertical-align: center;

          &:first-child {
            width: 75px;
            padding-left: 0;
          }

          &:last-child {
            width: 24px;
            padding-right: 0;
          }

          &:nth-child(2) {
            width: auto;
          }

          &:nth-last-child(2) {
            width: 50px;
          }
        }
      }

      .sub-description {
        font-size: 14px;
      }
    }
  }
}