@import "variables";

.promotion {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: auto;

  .logo-big {
    width: 422px;
    height: 422px;
    border: 4px solid $secondary-color;
    border-radius: 50%;
    margin: -40px auto 71px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 19px;
    font-size: 64px;
    position: relative;
    user-select: none;

    div:nth-child(1) {
      color: $secondary-color;
    }

    div:nth-child(2) {
      color: $primary-color;
    }

    img {
      position: absolute;
      width: 64px;
      height: 64px;
      top: 83px;
      right: 67px;
    }
  }

  .order-now {
    color: $primary-color;
    width: 100%;
    max-width: 390px;
    margin: 24px auto 40px;

    div {
      text-align: center;
    }

    &__call {
      font-size: 40px;
      font-weight: 500;
      color: $secondary-color;
    }

    &__phone {
      font-size: 32px;
      margin: 24px 0 8px;
      font-weight: 500;
    }
  }

  .arrow-down {
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 46px;

    a {
      display: inherit;
      flex-direction: inherit;
      align-items: inherit;
    }

    div:last-child {
      width: 0;
      border: solid $secondary-color;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 10px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }

    div:first-child {
      height: 56px;
      width: 0;
      border: 1.6px solid $secondary-color;
      margin-bottom: -25px;
    }
  }

  .food-img {
    position: absolute;
    top: 50%;
    transform: translateY(-25%);
    margin: 0 64px;
    object-fit: contain;

    &.burger {
      right: 0;
      width: 380px;
    }

    &.burrito {
      left: 0;
      width: 412px;
    }
  }

  @media screen and (max-width: $smallDesktopLayout) and (min-width: $tabletLayout) {
    .food-img {
      transform: translateY(-25%) scale(.7);
      margin: 0;
    }
  }
  @media screen and (max-width: $tabletLayout) {
    .food-img {
      transform: translateY(-5%);
      margin: 0;

      &.burger {
        width: 203px;
      }

      &.burrito {
        width: 220px;
      }
    }
  }

  @media screen and (max-width: $smallTabletLayout) and (min-width: $bigMobileLayout) {
    .food-img {
      transform: translateY(-25%) scale(.7);
    }

    .logo-big {
      transform: scale(.7);
      margin-bottom: 0;
    }
  }

  @media screen and (max-width: $bigMobileLayout) {
    .food-img {
      transform: translateY(-50%) scale(1.5);
      top: 50%;
      margin: 0 30px;

      &.burger {
        width: 85px;
      }

      &.burrito {
        width: 91px;
      }
    }

    .logo-big {
      transform: scale(1.5);
      width: 160px;
      height: 160px;
      border-width: 2px;
      margin: 40px auto 71px;
      gap: initial;
      font-size: 32px;

      div:nth-child(2) {
        color: $primary-color;
        font-size: 24px;
      }

      img {
        position: absolute;
        width: 24px;
        height: 24px;
        top: 22px;
        right: 37px;
      }
    }

    .order-now {
      max-width: 287px;
      margin: 0 auto 16px;

      div {
        text-align: center;
      }

      &__call {
        font-size: 18px;
      }

      &__phone {
        font-size: 16px;
        margin: 16px 0 8px;
      }
    }

    .arrow-down {
      transform: scale(.6);

      div:first-child {
        margin-bottom: -15px;
      }

      div:last-child {
        padding: 6px;
      }
    }

  }

  @media screen and (max-width: $mobileLayout) {
    .food-img {
      transform: translateY(-100%) scale(1);
      margin: 0 15px;

      &.burger {
        width: 85px;
      }

      &.burrito {
        width: 91px;
      }
    }
    .logo-big {
      transform: scale(1);
    }
  }
}