@import "variables";

.order {
  max-width: 570px;
  width: 100%;
  padding: 24px 35px;
  border: 2px solid $blue-transparent;
  border-radius: 10px;
  margin:  151px auto 0;
  font-size: 16px;
  font-weight: 300;

  &__title {
    font-weight: 400;
    font-size: 18px;
    div{
      display: inline-block;
      float: right;
    }
  }

  &__count {
    width: 50px;

    button {
      font-family: Consolas, sans-serif;
      color: $green-color;
      width: 16px;
      height: 16px;
      font-size: 20px;
      line-height: 16px;
      border: none;
      background: none;
      cursor: pointer;
      user-select: none;
    }

    span {
      margin: 0 4px;
    }
  }

  &__separator {
    width: 47.2%;
    border: 1px solid $blue-transparent;
    margin: 24px auto;
    &__big{
      width: 100%;
    }
  }

  &__field{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }

  table {
    width: 100%;
    margin: 24px 0;

    td {
      padding-bottom: 1em;

      &:last-child {
        text-align: right;
        width: 167px;
      }
    }

    tr:last-child td {
      padding: 0;
    }
  }

  @media screen and (max-width: $bigMobileLayout) {
    margin:  85px auto 0;

    table {
      width: 100%;
      margin: 24px 0;

      td {
        &:last-child {
          width: 20%;
          min-width: 55px;
        }
      }
    }
  }
}

.comment{
  max-width: 570px;
  width: 100%;
  margin: auto;
  padding: 24px 0;
  &__message{
    //color: rgba(29, 47, 111, 0.70);
    color: $blue-not-main;
    font-size: 16px;
    font-weight: 300;
  }
  textarea{
    width: 100%;
    height: 107px;
    padding: 16px 10px;
    margin-top: 8px;
    border-radius: 10px;
    border: 2px solid $blue-transparent;
    resize: none;
  }
}

