@import "variables";

.radio-buttons{
  display: flex;
  justify-content: center;
  gap: 94px;

  input[type='radio']{
    display: none;
  }

  label{
    position: relative;
    font-size: 12px;
    font-weight: 300;
    cursor: pointer;
    user-select: none;
    .custom-radio{
      box-sizing: border-box;
      position: absolute;
      left: -36px;
      top: -2px;
      width: 20px;
      height: 20px;
      border: 1px solid $blue-transparent;
      border-radius: 5px;
      &:before{
        display: none;
        width: 8px;
        height: 8px;
        position: absolute;
        content: "";
        border-radius: 2px;
        background: $green-color;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  input:checked + label{
    .custom-radio {
      border-color: $green-color;
      &:before{
        display: block;
      }
    }
  }
}

.green-button{
  display: block;
  max-width: 334px;
  width: 100%;
  background: $green-color;
  padding: 14px;
  margin: 40px auto 50px;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  &:hover{
    opacity: .8;
  }
}

.input-field{
  font-size: 16px;
  &__label{
    font-weight: 300;
    color: $blue-not-main;
    line-height: 3em;
  }
  input[type="text"]{
    width: 100%;
    height: 48px;
    display: block;
    border-radius: 10px;
    border: 1px solid $blue-transparent;
  }
  @media screen and (max-width: $bigMobileLayout) {
    font-size: 14px;
  }
}