$blue-not-main: #1D2F6FE5;
$blue-transparent: rgba(29, 47, 111, 0.20);
$primary-color: #1D2F6F;
$secondary-color: #F8CF0D;
$green-color: #04B315;

$smallDesktopLayout: 1200px;
$tabletLayout: 950px;
$smallTabletLayout: 716px;
$bigMobileLayout: 557px;
$mobileLayout: 420px;